/**
 * shipshoot.css
 */

#Game {
	margin: 0 auto;
	width: 400px;
	height: 300px;
	border: 1px solid #000;
}

#Board {
	position: relative;

}

#Ship {
	width: 38px;
	height: 38px;
	border: 1px solid #000;
	background-color: blue;
	position: absolute;
	top: 260px;
	left: 0px;
}

.eship {
	width: 38px;
	height: 38px;
	border: 1px solid #000;
	background-color: red;
	position: absolute;
	top: 0px;
}